[submodule "VNCServer/libvncserver"]
	path = VNCServer/libvncserver
	url = https://github.com/LibVNC/libvncserver.git
[submodule "VNCServer/libpng"]
	path = VNCServer/libpng
	url = https://github.com/glennrp/libpng.git
